.student-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.student-header .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.student-header .logo img {
  width: 40px;
  height: 40px;
}

.student-header .navbar {
  display: flex;
  gap: 1.5rem;
}

.student-header .navbar a {
  color: var(--color-info);
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s;
}

.student-header .navbar a.active {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.theme-toggler {
  display: flex;
  gap: 0.5rem;
}
